body{
    background-color: #b9edf7; 
}


.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li{
    list-style: none;
    margin: 5px;

}

a{
    text-decoration: none;
}

button{
    border-radius: 20px;
    background-color: white;
    border: none;
    height: 50px;
    padding: 0 20px;
    
}

button:hover{
    background-color:#555aec;
    color: rgb(255, 244, 244);
}

main{
    text-align: center;
    color: #ffffff;
}

.box{
    display: flex;
    margin: 5px;
     margin: 10px;
}

.left{
    width: 50%;
    margin: 0.5px;
    padding: 100 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 20px;
    height: 750px;
    background-color: rgb(220, 249, 255);
    color: black;
    border-radius: 5%;
}

.right{
    width: 50%;
    margin: 0.5px;
    padding: 0 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 20px;
    background-color: rgb(220, 249, 255);
    height: 750px;
    color: black;
    border-radius: 5%;
   font-size: 20px;
}

h3{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}